@model WebApplication6.Cafeteria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cafeteria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreCaf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreCaf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcionCaf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionCaf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local.localNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local.localNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoProducto.nombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoProducto.nombreProducto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cafID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
