@model WebApplication6.Status

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Status</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcionStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaContacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaContacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamento.nombreDep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento.nombreDep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoStatu.nombreStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoStatu.nombreStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.statusID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
